<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<import class="ch.qos.logback.core.ConsoleAppender" />
	<import
		class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" />
	<import class="ch.qos.logback.core.rolling.RollingFileAppender" />
	<import
		class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy" />

	<appender name="STDOUT" class="ConsoleAppender">
		<encoder class="PatternLayoutEncoder">
			<pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
		</encoder>
	</appender>


	<appender name="FILE" class="RollingFileAppender">
		<rollingPolicy class="TimeBasedRollingPolicy">
			<fileNamePattern>${application.home:-.}/logs/logFile %d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder class="PatternLayoutEncoder">
			<pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
		</encoder>
	</appender>

	<root level="INFO">
    	<appender-ref ref="STDOUT"/>	
		<appender-ref ref="FILE" />    	
	</root>
	
</configuration>